__pycache__/
.env
.DS_Store
.pytest_cache/
*.pyc
build-html-training-video/scripts/pipeline/.venv/
build-html-training-video/**/build/
build-html-training-video/**/*.wav
build-html-training-video/**/*.mp4
